*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore files
*.jks
*.keystore
*.pk8
*.pem
*.key
*.der

# Google Services (Firebase, etc.)
google-services.json

# Profiling and testing
*.hprof

# NDK
obj/

# Play store keys
play-store-key.p12

# Mac
.DS_Store
